---
layout: default
title: Contact/CV
permalink: /Contact/
---

<div class="about-section">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--8dp mdl-cards-primary">
      <img  class="profile-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAANuAAAAJGU0OTA4MjA0LTg0NDItNDBiYS05MjRiLTFjMTM4OTFmZTYyNA.jpg" alt="Stephen O'Kennedy" />
    </div>
    <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--8dp">
      <div class="mdl-card__supporting-text">
        <p><h3>Stephen O'Kennedy</h3></p>
        <span><a href="mailto:okenneds@tcd.ie"><i class="material-icons icon">mail_outline</i>okenneds@tcd.ie</a></span><br>
        <span><a href="tel:+353851410017"><i class="material-icons icon">phone</i>353851410017</a></span><br>
        <span><i class="material-icons icon">map</i>Dublin, Ireland</span><br>
        {% include icon-github.html username=site.github_username %}
        {% include icon-twitter.html username=site.twitter_username %}<br>
        <p>
          Currently studying for a MSc. in Networks and Distributed Systems in TCD.
          My dissertaion focuses on distributing non-monotonic reasoning agents.
          I enjoy developing web applications and I'm currently learning to develop
          iOS apps.
        </p>
      </div>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
      <h4 class="sub-title">Knowledge</h4>
      <ul class="mdl-list">
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon primary-colour">arrow_forward</i>
            Enjoys Learning New Technologies
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon primary-colour">arrow_forward</i>
            Machine Leanring (Still Learning)
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon primary-colour">arrow_forward</i>
            Develop Peer-2-Peer Systems
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon primary-colour">arrow_forward</i>
            Knows Functional and OO Programming
          </span>
        </li>
      </ul>
      <h4 class="sub-title">Skills</h4>
      <span class="skill">Javascript (React, Angular, etc.)</span>
      <input class="mdl-slider mdl-js-slider" type="range" id="s1" min="0" max="10" value="8" step="2">
      <span class="skill">Ruby</span>
      <input class="mdl-slider mdl-js-slider" type="range" id="s1" min="0" max="10" value="6" step="2">
      <span class="skill">Python</span>
      <input class="mdl-slider mdl-js-slider" type="range" id="s1" min="0" max="10" value="7" step="2">
      <span class="skill">Haskell</span>
      <input class="mdl-slider mdl-js-slider" type="range" id="s1" min="0" max="10" value="8" step="2">
      <span class="skill">Java</span>
      <input class="mdl-slider mdl-js-slider" type="range" id="s1" min="0" max="10" value="6" step="2">
      <span class="skill">Android</span>
      <input class="mdl-slider mdl-js-slider" type="range" id="s1" min="0" max="10" value="7" step="2">
      <span class="skill">iOS</span>
      <input class="mdl-slider mdl-js-slider" type="range" id="s1" min="0" max="10" value="7" step="2">
      <span class="skill">Databases (MongoDB, MySQL, SQLite)</span>
      <input class="mdl-slider mdl-js-slider" type="range" id="s1" min="0" max="10" value="7" step="2">
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
      <div class=" mdl-cell--12-col">
        <h4 class="sub-title">Work Experience</h4>
        <div class="minor-card mdl-shadow--6dp">
          <p><img src="http://ww1.prweb.com/prfiles/2013/02/25/11251569/Terranua%20with%20Clear%20Background.jpg" class="image" /> Terranua</p>
          <p>Worked from <span class="years">2014-2015</span></p>
          <p>Part-Time Software Developer</p>
        </div>
      </div>
      <div class="mdl-cell--12-col">
        <h4 class="sub-title">Education</h4>
        <div class="mdl-cell--hide-phone">
          <div class="minor-card mdl-shadow--2dp">
            <span><img src="{{ "/images/tcd.png" | prepend: site.baseurl }}" class="education-image" /><span class="years">2015-2016</span> - MSc. Networks and Distributed Systems</span>
          </div>
          <div class="minor-card mdl-shadow--2dp">
            <span><img src="{{ "/images/dit.jpg" | prepend: site.baseurl }}" class="education-image" /><span class="years">2011-2015</span> - BSc. Business Computing <br> Degree Classification: <b>1:1</b></span>
          </div>
        </div>
        <div class="mdl-cell--hide-tablet mdl-cell--hide-desktop">
          <div class="minor-card mdl-shadow--2dp">
            <p><img src="{{ "/images/tcd.png" | prepend: site.baseurl }}" class="education-image" /></p>
            <p><span class="years">2015-2016</span></p>
            <p>MSc. Networks and Distributed Systems</p>
          </div>
          <div class="minor-card mdl-shadow--2dp">
            <img src="{{ "/images/dit.jpg" | prepend: site.baseurl }}" class="education-image" />
            <p><span class="years">2011-2015</span></p>
            <p>BSc. Business Computing</p>
            <p><b>1:1</b></p>
          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
        <h4 class="sub-title">Knowledge</h4>
        <div class="mdl-card__supporting-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--8dp">
      <h4 class="sub-title">Knowledge</h4>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-card mdl-shadow--6dp">
    <h4 class="sub-title">Want more info?</h4>
    <div class="mdl-card__supporting-text">
      <p>
        Get in touch with me via <a href="https://ie.linkedin.com/in/stephen-o-kennedy-35360282">Linkedin</a> or drop me a mail like a normal person 😜.
      </p>
    </div>
  </div>
</div>
