<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout__title"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></span>
  </div>
  <div class="mdl-layout__header-row portfolio-navigation-row">

    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      {% for node in site.pages %}
        {% if node.title %}
          {% if page.url == node.url %}
          <a href="{{node.url | prepend: site.baseurl}}" class="mdl-navigation__link is-active">{{node.title}}</a>
          {% else %}
          <a href="{{node.url | prepend: site.baseurl}}" class="mdl-navigation__link">{{node.title}}</a>
          {% endif %}
        {% endif %}
    {% endfor %}
    </nav>

  </div>

</header>
